<div class="jumbo show-listing">
  <h2 class="title">{{model.name}}</h2>
  <div class="right detail-section">
    <div class="detail owner">
      <strong>Name:</strong> {{model.name}}
    </div>
  </div>
</div>
